.header{
    display: flex;
    background-color: var(--deep-balck);
    padding: 0.5%;
    justify-content: space-between;
}

.left{
    display: flex;
    gap: 10px;
}

.btnLogout {
    border-radius: 1rem;
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    color: var(--white);
    background-color: var(--red);
}

.btnLogout:hover {
    background-color: var(--deep-red);
}

.btn {
    border-radius: 1rem;
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    margin: 10px;
    margin: 10px 0px;
    color: var(--white);
    background-color: var(--blue);
}

.btn:hover {
    color: var(--white);
    background-color: var(--deep-blue);
}