.container {
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.cardsContainer {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1500px) {
    .cardsContainer {grid-template-columns: repeat(3, 1fr);}
}

@media (max-width: 1210px) {
    .cardsContainer {grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 910px) {
    .cardsContainer {grid-template-columns: repeat(1, 1fr);}
}