.side-bar {
    width: 300px;
    background-color: var(--deep-balck);
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

h2 {
    color: var(--white);
}

li {
    color: var(--white);
}